Arquivo para listar as bibliotecas Python necessárias para o projeto.
Para instalar todas, use o comando no terminal: pip install -r requirements.txt
fastapi
uvicorn[standard]
google-generativeai
pydantic